.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.option-selector{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  border: none;
  background-color: #fff;
  padding:10px 20px;
  font-size: 16px;
}
